*{
    box-sizing: border-box;
    width: 100%;
}


body{
    display:flex;
    align-items:center;
    justify-content:center;
}

#canvas{
    border: 3px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 1;
    height: 1;
    overflow: hidden;
}

#tracer{
    margin-top: -400;
    position: absolute;
    top: 0;
    left: 0;
    width: 1;
    height: 1s;
    color: white;
    background-color:white;
    position: absolute;
    z-index: 2;
}

.controls{
    cursor: pointer;
    position: fixed;
    top: 5%;
    left: 5%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width:100px;
    height: 100px;
}

